{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>точка сборки</title>
{% endblock %}


{% block body %}

<div class="container p-5">
    <div class="row mt-3 content_col">
      <div class="col">
		<h5><a href="/list_verse?tab=verses">Поэзия</a></h5>
		{% for html_name, rand_word in verse_html_name_rand_word %}
			<span><a href = {{ html_name }}>{{ rand_word }}</a></span>
		{% endfor %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col content_col">
		<h5><a href="/list_verse?tab=herms">Герменевтика</a></h5>
		{% for html_name, rand_word in herm_html_name_rand_word%}
			<span><a href = {{ html_name }}>{{ rand_word }}</a></span>
		{% endfor %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col content_col">
		<h5><a href="/list_verse?tab=aesths">Эстетика</a></h5>
		{% for html_name, rand_word in fact_html_name_rand_word %}
			<span><a href = {{ html_name }}>{{ rand_word }}</a></span>
		{% endfor %}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col content_col">
			<p class="text-end me-5 fs-8"><a href = "eupro">Евгений Проскуликов<a></p>
      </div>
    </div>

</div>	

{% endblock %}
