{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
{% block head %}
    <title>эссе</title>
{% endblock %}

{% block body %}

    <div id="eupro_text">
		<p class="title">{{ fact_obj.title }}<p>

		<span>{{ fact_html|safe }}</span>

		<div id="signature_in_longread">
			<i><a href="eupro">Евгений Проскуликов</a></i><br>
			{% load i18n %}
			{% language 'ru' %}
				<i>{{ fact_obj.date_of_writing|date:"d M Y" }}</i>
			{% endlanguage %}
		</div>

    </div>


	<button class="eu_button" type ="button"><a class="button_link" href="back_to_content"><b>в начало</b></a></button>

	{% if verse %}
		<button class="eu_button" type ="button"><a class="button_link" href="/{{verse.html_name}}"><b>стихотворение</b></a></button>
	{% endif %}

{% endblock %}

