{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
{% block head %}
    <title>эссе</title>
{% endblock %}

{% block body %}

    <div id="eupro_text">
		<h5>{{ fact_obj.title }}</h5>
        <p>{{ fact_obj.text|linebreaks }}</p>
    </div><br>

    <div>
        
        <button type ="button"><a class="button_link" href="back_to_content"><b>в начало</b></a></button>

		{% if verse %}
			<button type ="button"><a class="button_link" href="/{{verse.html_name}}"><b>стихотворение</b></a></button>
		{% endif %}
    </div>


{% endblock %}
