{% load static %}
<!DOCTYPE html>
<html lang='ru'>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
<head>
    <title>поэзия</title>
    <meta name="author" content="John Doe">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'>
</head>
<body>
    {% load i18n %}
    {% for item in verse %}
    <p id="title_verse">{{ item.title }}</p>
	<p><pre id="full_verse">{{ item.text }}</pre></p>
    <br>
    {% language 'ru' %}
    <i>{{ item.date_of_writing|date:"d M Y" }}</i>
    {% endlanguage %}
    <br>
    {% endfor %}


    <i><a href="eupro">Евгений Проскуликов</a></i>
    <div>
        <br>
        <button type ="button"><a class="button_link" href="back_to_content"><b>в начало</b></a></button>
		{% if verse_herm %}
			<button type ="button"><a class="button_link" href="/{{verse_herm.html_name}}"><b>герменевтика</b></a></button>
		{% endif %}<br>


		{% if verse_audio %}
			<div id="audio_player">
				<audio controls>
					<source src="{{ verse_audio.audio.url }}" type="audio/mp3">
					Your browser does not support the audio tag.
				</audio>
			</div>
		{% endif %}



    </div>


<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = new Plyr('#audio_player audio');
    });
</script>

</body>
</html>
