/* content */

body, a {
    color:lightgoldenrodyellow;
}

body {
    font-size: 0.9em;
    background-color: darkslategray;
    margin-top: 10vh;
    margin-left: 20vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 200%;

}


/* a { color: none } */
a:link { text-decoration: none; }
a:visited { color: none; }
a:hover { color: darkkhaki; }
a:active { text-decoration: none; }

#rand_verse {
    width: 20vw;
}

#rand_herm {
	margin-top: 50px;
    width: 40vw;
}

#rand_aesthetics {
	margin-top: 50px;
    width: 40vw;
}

#signature {
    font-size: 0.9em;
	margin-top: 50px;
    text-align: right;
	font-style: italic;
    width: 40vw;
}



/* verses */

#full_verse {
    width:70vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
    display: inline-block;
    width: 40vw;
    text-align: right;
}

#title_verse {
    font-size: 1.4em;
}

button {
    background-color: lightgoldenrodyellow;
    color: darkslategray;
    border-style: none;
    font-size: inherit;
	margin-right: 2vw;
   
}

.button_link {
    background-color: lightgoldenrodyellow;
    color: darkslategray;
}


/* audio Plyr plugin styling */


.plyr--audio .plyr__controls{
    width: 40vw;
	margin-top: 10px !important;	
    border-style: none !important;
	border-radius: 0 !important;
    background-color: lightgoldenrodyellow !important;
    color: darkslategray !important;

}




/* eupro */
#eupro_text{
    width: 60vw;
}


/* responsive elements */

@media screen and (max-width: 1000px) {

    body {
        font-size: 0.8em;
    }
    #signature {
        font-size: 0.9em;
    }

    body {
        margin-top: 10vw;
        margin-left: 10vw;
   }

    #rand_verse {
        width:30vw;

    }

    i {
        width:40vw;
    }
    
    #eupro_text{
        width: 70vw;
    }

}   

@media screen and (max-width: 500px) {   
    #rand_verse {
        width:50vw;
    }

    body {
        font-size: 0.8em;
    }


    i {
        width:70vw;
        }

    #eupro_text{
        width: 80vw;
    }
    
}   


@media screen and (max-width: 350px) {   
    #rand_verse {
        width:60vw;
    }

    body {
        font-size: 0.7em;
    }

    i {
        width:70vw;
    }

    #eupro_text{
        width: 80vw;
    }

}   
