{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Авва</h1>
		<time>2012-01-16</time>
		<br>
		<br>
		<main>
			<p>Авва,</p>
			<p>зачем высыхает небо?</p>
			<p>Проступает соль?</p>
			<p>И каждому, иногда совсем не в меру,</p>
			<p>бросают в открытую рану веры</p>
			<p>щепотку - для сохранения веры боль?</p>
			<br>
			<p>Авва,</p>
			<p>как рождается забота Ребекки</p>
			<p>для тех, кто не может поднять веки,</p>
			<p>испечь пару окраин хлеба</p>
			<p>с тем же горчайшим привкусом неба -</p>
			<p>Все той же потери боль?</p>
			<br>
			<p>Откуда у сына берутся силы</p>
			<p>сплести из бедренной жилы</p>
			<p>кротчайшего нрава</p>
			<p>гулко звучащее слово -</p>
			<p>"Авва"?</p>
			<br>
			<p>Скажи мне,</p>
			<p>чтобы утихла боль...</p>
		</main>
	</section>
</body>
</html>

