{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<!-- <link rel="stylesheet" href="styles.css"> -->
</head>


<body>
	<section>
		<h1>Бах и ничего лишнего</h1>
		<time>2011-02-08</time>
		<br>
		<br>
		<main>
			<p>Пятый еванглелист? Нет, работяга!</p>
			<p>Для него земля рождала чертополох.</p>
			<p>Вообще-то, в хозяйстве, Бах был скряга,</p>
			<p>Ничего лишнего: орган, звук, Бог.</p>
			<br>
			<p>Бах был о себе скромного мнения,</p>
			<p>Ни сага, ни эпос, так - эпизод;</p>
			<p>Не знал, что высота его пения</p>
			<p>Звучит в октаве нагорных высот.</p>
			<br>
			<p>Он марал бумагу для инструмента,</p>
			<p>Который еще не изобретен -</p>
			<p>Есть в его музыке два-три момента,</p>
			<p>Когда человек впрямь преодолен.</p>
			<br>
			<p>Из цеха творцов он был самый нищий</p>
			<p>Духом, а иногда и впрямь убог:</p>
			<p>Где хочет в медной трубе свищет,</p>
			<p>Ничего лишнего: Бах, орган, Бог.</p>
		</main>
	</section>
</body>
</html>

