{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Где яростней тоска?</h1>
		<time>2012-08-11</time>
		<br>
		<br>
		<main>
			<p>Где яростней тоска?</p>
			<p>Где можно ей упиться</p>
			<p>И потерять сознание от силы,</p>
			<p>Что влекла ахейцев в Трою?</p>
			<br>
			<p>Дойти до края ойкумены,</p>
			<p>Стоять и слушать, как скрепит</p>
			<p>Прибрежных душ оснастка</p>
			<p>В приливе жизни и смертей.</p>
			<br>
			<p>Здесь пьешь из бирюзовых волн,</p>
			<p>И бьёшься всей судьбой</p>
			<p>О самое подножие столбов,</p>
			<p>Отметивших предел героя.</p>
			<br>
			<p>Нам нужен край, чтоб очертить себя,</p>
			<p>И сделать выход за границы круга,</p>
			<p>Отхлынуть от Геракловых столбов,</p>
			<p>Туда, где царствуют другие боги.</p>
			<br>
			<p>Мне жаль, что взгляд не гнется,</p>
			<p>Как человек под тяжестью вины,</p>
			<p>Иначе выход был бы ясен –</p>
			<p>Продеть себя в петельку горизонта.</p>		
		</main>
	</section>
</body>
</html>

