<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Лепесток</h1>
		<time>2003-01-08</time>
		<br>
		<br>
		<main>
			<p>Проснись. Уж солнце завершило круг.</p>
			<p>И дзенский мастер рисовой похлёбкой</p>
			<p>Встречает братию, сих божьих слуг,</p>
			<p>Зари фарфоровой, слепой и робкой.</p>
			<br>
			<p>Приноровившись к тяжести земли,</p>
			<p>Два лепестка упали в воду кадки.</p>
			<p>Весна пришла… И если б мы могли</p>
			<p>Так узнавать судьбы своей повадки.</p>
			<br>
			<p>Но звук свирели не вернуть в тростник,</p>
			<p>Как смерть не вырубить из человека.</p>
			<p>Вишнёвый лепесток к воде приник,</p>
			<p>Как нищий к сумке и к земле калека.</p>		
		</main>
	</section>
</body>
</html>

