<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Обморок</h1>
		<time>2021-07-17</time>
		<br>
		<br>
		<main>
			<p>Простая оптика.</p> 
				<p class="tab">Смотришь на</p>
				<p class="tab">тысячу форм одного облака,</p>
				<p class="tab">и знаешь:</p>
				<p class="tab">небо не отражается на земле.</p>
			<p>Эта быль - прозаика опыт.</p>
			<br>
			<p>Но есть</p> 
			<p>опрокинутость людей</p>
			<p>в обморок свободы,</p>
			<p>которая, все же,</p>
			<p>касательна небосвода.</p>
			<br>
			<p>Ты о чем, то бишь?</p>
			<br>
			<p>Об извлечении корня</p>
			<p>из минус единицы,</p>
				<p class="tab">когда уподобишь</p>
				<p class="tab">троллейбусные провода</p>
				<p class="tab">прожилкам на неба</p>
			<p>роговице.</p>
			<br>
			<p>Из заочности извлекай</p>
			<p>большеротого корня О.</p>
				<p class="tab">Да, рыба дышит привольней</p>
				<p class="tab">на берегу -</p>
			<p>так работает Дарвина</p> 
			<p>ремесло.</p>
			<br>
			<p>А еще,</p> 
			<p>чтобы мои дар-вина -</p>
				<p class="tab">кубический корень,</p>  
				<p class="tab">который из я:</p>
			<p>или,</p> 
				<p class="tab">как рыба небыли -</p>
				<p class="tab">были отпущены на мели;</p>
			<p>или,</p>
				<p class="tab">как облако были -</p>
				<p class="tab">стали ничьи.</p>
		</main>
	</section>
</body>
</html>

