<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Счет</h1>
		<time>2021-06-13</time>
		<br>
		<br>
		<main>
			<p>Сон, который тебя видит,</p>
			<p>вода, которая тебя пьет,</p>
			<p>время, которое тебя счет -</p>
			<br>
			<p>ты шаг человека, лежащего навзничь,</p>
			<p>ибо здесь небо читается наоборот:</p>
			<p>тесАп тялЕт Обен - небо телят пасет,</p> 
			<p>хребет коня сложен из бревен,</p> 
			<p>и под камень все то же небо</p>
			<p>в тот час неровен</p>
			<p>течет.</p>
			<br>
			<p>Когда поменяешь местами,</p>
			<p>местами переберешь</p>
			<p>четыре буквы в слове</p>
			<p>ручья,</p>
			<p>чур я,</p>
			<p>по плану,</p>
			<p>истцом для птицы,</p> 
			<p>цевьем для ключицы,</p>
			<p>без репетиций</p>
			<p>стану</p>
			<p>местоблюстителем словаря.</p>
			<br>
			<p>Буквы человека читают -</p>
			<p>здесь снова наоборот:</p>
			<br>
			<p>Баюкают, славят, хаят,</p>
			<p>болтают, латают, летят, -</p>
			<p>как бы там ни было</p>
			<p>раскрывают,</p>
			<p>как створчатый короб</p>
			<p>на берегу океана,</p>
			<br>
			<p>а иногда просто считают,</p>
			<p>что это выход и вход</p>
			<p>для времени, которое тебя</p>
			<p>счет.</p>
		</main>
	</section>
</body>
</html>

