<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Сквозняк</h1>
		<time>2021-05-26</time>
		<br>
		<br>
		<main>
			<p>Заварочный чайник без крышки,</p> 
			<p>рассыпчата соль по столу.</p>
			<p>Эти вещи круглы, как цитаты Шекспира,</p>
			<p>как крылышки бабочки стерты в труху,</p>
			<p>стоит словить вспорхнувшую мысль</p>
			<p>в ладони раздумья.</p>
			<br>
			<p>Нас трусами делает надежда,</p>
			<p>убирая из замысла погрешность,</p>
			<p>благодаря которой, между мной и мной</p>
			<p>существует узор несовпадения -</p>
			<p>благая вещь для всякого рукоделия</p>
			<p>вшивать нитку в оконный проем.</p>
			<br>
			<p>Угловая квартира простыла,</p> 
			<p>сквозняк ищет органа трубу,</p>
			<p>натыкается лишь на пустую судьбу,</p>
			<p>и, злясь по каждому пустяку,</p>
			<p>сдувая открытых окон худобу,</p>
			<p>ломает геометрию крыш.</p>
		</main>
	</section>
</body>
</html>

