<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Событие</h1>
		<time>2021-10-17</time>
		<br>
		<br>
		<main>
			<p>Событие - это из ряда вон:</p>
			<p>срыв голоса на чердаке нотного ряда;</p> 
			<p>зияние между приставкой и корнем,</p>
			<p>напиханное отрубями, словами, мятой;</p>
			<p>спотыкание мантры о повторение;</p>
			<p>Одновременный вид лица и затылка,</p>
			<p>на шлифовальном станке зрения.</p>
			<br>	
			<p>О - амфора для содержания - хра:</p>
			<p>эссенция хрипа, чтобы присыпать</p>
			<p>из ребра вытекающий,</p> 
			<p>бреющий от края до края,</p>
			<p>пугающий, бающий, тлеющий,</p>
			<p>К старой газете прилипший, желтеющий</p>
			<p>Со - хрящик надломленный - бытия.</p>      
			<br>
			<p>Ты пережевывал вечность во время оно:</p> 
			<p>на вкус - спирт, зерно, бумага, кислая медь,</p>
			<p>но сегодня вкус остуствтует в опыте -</p>
			<p>Забились небесные трубы жиром и копотью,</p>
			<p>Тошнота наплывает ворванью к горлу,</p>
			<p>упаси боже от такого сытого корма,</p>
			<p>Ржа - вертится на языке - веть.</p>
			<br>
			<p>Эхо требует уха.</p>
			<p>По - краю, открою, узнаю - вторение:</p>
			<p>я прихожу к себе издалека -</p>
			<p>это услуга двойного словоупотребления.</p> 
			<p>И не хватит никакого слуха, когда,</p>
			<p>выпадая из ряда вон, в ухо входит</p>
			<p>эха транспортный эшелон.</p>
		</main>
	</section>
</body>
</html>

