<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Suicide</h1>
		<time>2016-01-13</time>
		<br>
		<br>
		<main>
			<p>Стекая по клину осеннего сплина,</p>
			<p>из влаги простуженной цедишь по капле</p>
			<p>для последней записки на огрызке бумаги</p>
			<p>чернила обкусанных букв.</p>
			<p>Жест убийства всегда неуклюж:</p>
			<p>дождь замирает, увидев пропажу,</p>
			<p>стоит украсть отражение неба</p>
			<p>из павших на землю луж.</p>
			<p>И столь же заметна кража строя</p>
			<p>из тела натруженной горем лиры,</p>
			<p>стоит улечься саже на глаз</p>
			<p>вскрытой ракушки мира.</p>
		</main>
	</section>
</body>
</html>

