<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Свет невечерний</h1>
		<time>2012-03-19</time>
		<br>
		<br>
		<main>
			<p>Свет невечерний. Тело раскололось так,</p>
			<p>что вдоль него упали ветви ивы,</p>
			<p>и заиграли хор.</p>
			<p>Мы – в пустоте коробочки, которой мак,</p>
			<p>себя сжимает на ветру пугливо –</p>
			<p>и есть простор,</p>
			<p>расцветший изнутри приютом мёртвых ос.</p>
			<p>Нас сеют в мир… Что вспоминает пепел,</p>
			<p>выжженных полей?</p>
			<p>Босые ноги, небо, близость летних гроз?</p>
			<p>И, может, человека. Этот лепет,</p>
			<p>Привесок для вещей,</p>
			<p>но без него: сквозь невпопад</p>
			<p>как говорить?</p>
		</main>
	</section>
</body>
</html>

