<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Бывает утро, подобно картине Врубеля</h1>
		<time>2012-04-11</time>
		<br>
		<br>
		<main>
			<p>Бывает утро, подобно картине Врубеля,</p>
			<p>когда ты видишь свою постель смятой и нищей,</p>
			<p>нарисованной серым карандашом</p>
			<p>такой безмерной тоски,</p>
			<p>что жила Иакова, подобно стрелке компаса,</p>
			<p>сама вытягивается</p>
			<p>в руки Архангела.</p>
			<br>
			<p>Ты оглядываешься на простынь,</p>
			<p>как змея на свою кожу,</p>
			<p>еще хранящую отпечатки глаз.</p>
			<p>А в глазах Богоматери - все так же тоска,</p>
			<p>и Она вечно оплакивает своего младенца,</p>
			<p>спасающего мир.</p>
			<br>
			<p>Наверное, человеку надо слишком много,</p>
			<p>Чтобы понять собственную нищету.</p>
			<br>
			<p>Сегодня утро страстного дня.</p>
			<p>Время стоит.</p>
			<p>И совсем неочевидно,</p>
			<p>что из этой безумной дали</p>
			<p>придет воскресение...</p>		
		</main>
	</section>
</body>
</html>

