<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Тот египетский ангел первый свершил</h1>
		<time>2012-04-15</time>
		<br>
		<br>
		<main>
			<p>Тот египетский ангел первый свершил</p>
			<p>прыжок веры. Чтобы казнить одних</p>
			<p>и без меры мучать других,</p>
			<p>как из скалы, высекая из них</p>
			<p>гулкую пустоту веры.</p>
			<p>Если Кьеркегор называл себя опиской</p>
			<p>на разума сиреневом списке,</p>
			<p>то как быть нам?</p>
			<br>
			<p>Если все зыбко и нет слова,</p>
			<p>в котором можно совершить ошибку,</p>
			<p>и нет олова покаяния,</p>
			<p>чтобы влить его в душу,</p>
			<p>и, ничего не нарушив,</p>
			<p>запечатлеть…</p>
			<br>
			<p>Монастырь, высеченный в скале,</p>
			<p>скрижали, высеченные в сердце,</p>
			<p>закат, высеченный в небе,</p>
			<p>душа, высеченная в теле.</p>
			<br>
			<p>Так ангел убирает лишнее,</p>
			<p>чтобы создать извилины рога,</p>
			<p>в котором будешь блуждать сорок лет,</p>
			<p>а может, без срока,</p>
			<br>
			<p>и кормиться из рук Бога -</p>
			<p>ибо там, где пустота,</p>
			<p>Больше ничего нет.</p>		
		</main>
	</section>
</body>
</html>

