<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>Трибьют Алексею Крученых</h1>
		<time>2021-11-06</time>
		<br>
		<br>
		<main>
			<p>День означает петь, а ночь - ре.</p>
			<p>Ночь минор в распаянных трубках полдня</p>
			<p>гудит как мускулистый провод</p>
			<p>натянутый разговор</p> 
			<p>между пятилеткой и городом</p> 
			<p>между корнем и окончанием</p>
			<p>существительного чрево опасно</p>  
			<p>трех согласных внегласное совещание</p>
			<p>где окончание  -  жзл:</p>
			<p>величие расстрелянных гласных.</p>
			<br>	
			<p>Каждый из них служил</p>
			<p>гласным в управлении антител.</p>
			<p>Когда наступил кромешного ре</p>
			<p>новодел, остался один зачин:</p>
			<p>хорошо темперированный строй</p>
			<p>из кирпичей - "ничей", из гвоздей - "брось",</p> 
			<p>голубой глины раствора - "пой",</p>
			<p>о'рган осуществления - орга'н</p>
			<p>гармошки, набранной из а и у -</p>
			<p>треснувшей, алеутской, губной.</p>
			<br>
			<p>Вопреки всем согласным</p> 
			<p>Шипящим, свистящим, щемящим</p>
			<p>Сквозь пустоты разъятых тире</p>
			<p>Сложноподчиненное трение</p>
			<p>Как медный провод зияет</p> 
			<p>оборванный голос ненастного ре:</p>
			<p>"дыр бул щыл убешщур" -</p> 
			<p>Корни протерты до дыр,</p>
			<p>И  рифмы грядущий прищур целит</p>
			<p>в подзорные</p> 
			<p>звуки</p> 
			<p>органа.</p> 
		</main>
	</section>
</body>
</html>

