<!DOCTYPE html>
<html lang="ru">

<head>
	<title>poetry text document</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="styles.css">
</head>


<body>
	<section>
		<h1>В самой сердцевине зимы</h1>
		<time>2011-12-22</time>
		<br>
		<br>
		<main>
			<p>В самой сердцевине зимы,</p>
			<p>которую выгрызла белка, пусто и гулко,</p>
			<p>и так же тоскливо, как у Замятина в "Мы".</p>
			<br>
			<p>Но все же:</p>
			<p>как муха, бъется в стекло секундная стрелка,</p>
			<p>солнце в тулупе идет на прогулку,</p>
			<p>ноет к весне место декабрьского перелома,</p>
			<p>и надежа открывает оконце</p>
			<p>на самом верху многоэтжного дома,</p>  
			<p>в котором и я живу.</p>
		</main>
	</section>
</body>
</html>

