/* content */

body {
    color:lightgoldenrodyellow;
    background-color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h5 {
	margin-bottom: 20px;
}

pre code {
    color:lightgoldenrodyellow;
    background-color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
}

.content_col {
	max-width: 450px;
}

.prose_col {
	max-width: 700px;
}

/* a { color: none } */
a {
	color: lightgoldenrodyellow;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: none;
}
a:hover {
	color: darkkhaki;
}
a:active {
	text-decoration: none;
}

.eu_button {
    background-color: lightgoldenrodyellow;
    color: darkslategray;
    border-style: none;
	font-size: small;
   
}

.button_link {
    background-color: lightgoldenrodyellow;
    color: darkslategray;
}


/* audio Plyr plugin styling */

.plyr--audio .plyr__controls{
	max-width: 40vw;
	min-width: 315px;
	margin-bottom: 15px !important;	
    border-style: none !important;
	border-radius: 0 !important;
    background-color: lightgoldenrodyellow !important;
    color: darkslategray !important;
	height: 35px;

}

.plyr--full-ui button, .plyr--full-ui input, .plyr--full-ui label {
    background-color: lightgoldenrodyellow;
}

.plyr--audio .plyr__control:hover {
    background: darkkhaki !important;
	color: darkslategray !important;
}

.plyr--audio .plyr__control:focus-visible {
    background: darkkhaki !important;
	color: darkslategray !important;
	outline: none !important;
}

.plyr--full-ui input[type=range] {
	color: darkslategray !important;

}

.plyr__menu__container [role=menu] {
    background-color: darkkhaki;
}

.plyr__menu__container>div {
    background-color: darkkhaki;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:before {
    background-color: darkslategray !important;
}

.plyr--audio .plyr__control[aria-expanded=true] {
    background: darkslategray !important;
}

