.nav-link {
	color: lightgoldenrodyellow !important;
}

.nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
	border-radius: 0 !important;
	background-color: lightgoldenrodyellow !important;
	color: darkslategray !important;
}

.nav-link:focus-visible {
	border-radius: 0 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-radius: 0 !important;
}

